/*
$color1: rgba(41, 115, 115, 1); teal
$color2: rgba(255, 133, 82, 1); orange
$color3: rgba(230, 230, 230, 1); white
$color4: rgba(190, 238, 98, 1); lime green
$color5: rgba(57, 57, 58, 1); dark brown
*/

body {
	background-color: #4f4f4f;
	font-family: 'Coming Soon', sans-serif;
	color: rgba(57, 57, 58, 1);
}

#main {
	background-color: rgba(230, 230, 230, 1);
	width: 400px;
	min-height: 600px;
	max-width: 80vw;
	max-height: 80vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 15px;
	overflow: auto;
}

::-webkit-scrollbar { 
	width: 3px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
}

h3 {
	font-family: 'Permanent Marker', serif;
	text-align: center;
	color: rgba(57, 57, 58, 1);
}

button {
	border: 0;
	border-radius: 6px;
	padding: 10px;
	display: block;
	margin: 10px 0;
	font-family: 'Coming Soon', sans-serif;
	font-weight: 700;
}

.btn-orange {
	background-color: rgba(255, 133, 82, 1);
}

.btn-green {
	background-color:  rgba(190, 238, 98, 1);
}

.btn-teal {
	background-color: rgba(41, 115, 115, 1);
	color: rgba(230, 230, 230, 1);
}

.btn-orange:hover, .btn-green:hover, .btn-teal:hover {
	background-color: #aaaaaa;
	cursor: pointer;
}

.btn-orange:disabled, .btn-green:disabled, .btn-teal:disabled {
	background-color: #aaa;
}

.btn-orange:hover:disabled, .btn-green:hover:disabled, .btn-teal:hover:disabled {
	cursor: inherit;
}

.btn-full {
	width: 100%;
}

.stats {
	padding: 0px 10px;
	/*background-color: rgba(41, 115, 115, 1);*/
	background-color: rgba(57, 57, 58, 1);
	border-radius: 3px;
	color: white;
	font-weight: 700;
}

.stats p {
	padding: 0;
	margin: 0;
	width: 185px;
	display: inline-block;
}

.stats p:first-child {
	text-align: left;
}

.stats p:last-child {
	text-align: right;
}

.inventory {
	max-width: 100%;
	overflow: auto;
	background-color: #dddddd;
	padding: 10px;
	border-radius: 3px;
}

.inventory h4{
	margin: 10px 0;
}

#supermarket-inventory .ingredient-div {
	background-color: #aaa;
	padding: 3px;
	border-radius: 6px;
	margin-bottom: 5px;
}

#supermarket-inventory .ingredient-div:hover {
	cursor: pointer;
	background-color: rgba(190, 238, 98, 1);
}

#supermarket-inventory .ingredient-div:hover p {
	color: rgba(57, 57, 58, 1);
}	

#supermarket-inventory .ingredient-div p {
	color: rgba(230, 230, 230, 1);
}

.ingredient-div p.ingredient-price {
	bottom: 10px;
	font-size: x-small;
}

 .ingredient-div p.ingredient-expiry {
 	bottom: 10px;
 	font-size: xx-small;
 }

.ingredient-div {
	text-align: center;
	display: inline-block;
	max-width: 31%;
	width: 117px;
	height: 117px;
	vertical-align: bottom;
	position: relative;
}

.ingredient-div p {
	margin: 0;
	color: #999;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}

.ingredient-div .ingredient-name {
	font-size: small;
}

.ingredient-div .ingredient-expiry {
	font-size: x-small;
}

.ingredient-div img {
	width: 50px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -90%);
}

#dragdrop .inventory, #prep-station .inventory {
	max-height: 150px;
	overflow: auto;
}

#dragdrop img:hover {
	cursor: grab;
}

#stations {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 3px;
	overflow: hidden;
}

#stations tr td{
	width: 195px;
	height: 140px;
	background-color: #888;
	text-align: center;
	position: relative;
}

#stations tr td img {
	width: 25px;
}

#stations tr td img, #stations tr td button {
	z-index: 10;
	position: relative;
}

#stations tr td button {
	margin-left: auto;
	margin-right: auto;
}

.progress-bar {
	position: absolute;
	width: 195px;
	height: 1px;
	bottom: 0;
	pointer-events: none;
}

.progress-bar.pending {
	background-color: rgba(255, 133, 82, 0.5);
}

.progress-bar.ready {
	background-color: rgba(190, 238, 98, 0.5);
}

.progress-bar.over {
	background-color: rgba(0,0,0,0.5);
}

img.unwashed {
	filter: brightness(50%);
}

#cuttingboard {
    min-height: 200px;
    background-color: #d4c0a2;
    max-width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
}

#cuttingboard .chopped-ingredient-container img {
	object-fit: contain;
	object-position: 50% 50%;
	max-width: 270px;
	max-height: 180px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

#cuttingboard .chopped-ingredient-container, .cutGrid {
	width: 275px;
	height: 190px;
	position: absolute;
}

.cutGrid {
	z-index: 10;
	margin-top: 10px;
	margin-left: 10px;
}

.cutgridline {
	background-color: black;
	position: absolute;
}

.cutgridline:hover {
	background-color: #aaa;
	cursor: pointer;
}

.horizontal-cut {
	width: 100%;
	height: 7px;
}

.vertical-cut {
	height: 100%;
	width: 7px;
}

#knife {
	max-height: 190px;
    max-width: 145px;
    transform: rotateZ(44deg);
    position: absolute;
    margin-left: 265px;
    margin-top: 30px;
}